
<div class="card" >
 <div class="card-header">

 <h1>Tell us more about yourself?</h1>

  </div>
  <div class="card-body">

<br>
<%= link_to 'Show', @users, class:"btn btn-secondary" %> |
<%= link_to 'Back', users_path, class:"btn btn-dark" %>
</div>
</div>
<div><%= link_to '<button type="button">Delete Account</button>'.html_safe, cancel_user_registration_path, method: :delete, data: { confirm: 'Are you sure?' }%></div>