
<%# Tasks Section %>

      <div class ="card">
     <% if current_user.projects.tasks.empty?%>
     <div class="card-header"> No Tasks Yet</div>
      <div class="card-body"> <h6>Add Task when you make a new Project</h6></div>
      

     <%else%>
 <% @current_user.projects.tasks.each do |task| %>
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active"><%= link_to 'edit', edit_task_path(task) %>Edit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><%= link_to 'show', task %>SEE FULL TASK</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= task.title %></h5>
    <br/>
    <br/>
    <div class="card-footer bg-transparent border-success"></div>
    <a class="btn btn-primary"><%= link_to 'delete', project, method: :delete, data: { confirm: 'Are you sure?' }%></a>
  </div>
    <% end %>
  <% end %>
</div>
