<h3>Welcome To Project Management</h3>
<br/>
 <%= link_to "Log In", new_user_session_path, class:"btn btn-dark"%>
 <br/>
 <br/>
 <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-dark"%>